.social {
  background: #dcd9dc;
  margin-top: -1px;
}

footer {
  margin-top: 0;
}

.banner-howto {
  background: #dcd9dc;
  margin-top: -1px;
  padding: 20px 0 90px;

  .cmn-btn.cmn-btn-logo {
    margin-top: 0;
  }
}

.draft {
  line-height: 1.6;

  .top-title img {
    margin: 0 auto;
    width: 100%;
  }

  .top-present {
    position: relative;
    display: block;
    width: auto;
    margin: 38px auto;
    text-align: center;
    font-size: 16px;
    padding: 1em 2em;
    color: #fff;
    background: #0067fe;
    font-weight: bold;
    border-radius: 0.5em;

    &::after {
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      pointer-events: none;
      position: absolute;
      border-color: rgba(0, 153, 255, 0);
      border-top-width: 10px;
      border-bottom-width: 10px;
      border-left-width: 10px;
      border-right-width: 10px;
      margin-left: -10px;
      border-top-color: #0067fe;
      top: 100%;
      left: 50%;
    }
  }

  .heading-img {
    margin: 0 auto 20px;
    width: 30%;
  }

  .heading-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.7;
    padding-top: 12px;
  }

  .center {
    text-align: center !important;
  }

  .head-icon {
    img {
      height: auto;
      margin: 0 auto;
      width: 90px;
    }
  }

  .content-block {
    &.head {
      padding: 35px 10px;
    }

    &.beige {
      background: #f4f0eb;
    }

    &.gray {
      background: #dadceb;
    }

    &.light-blue {
      background: #e5edf9;
    }

    &.sky-blue {
      background: #0099ff;
    }

    &.green {
      background: #006666;
      color: #fff;

      a {
        color: #fff;
      }
    }

    &.red {
      color: #000;
      background: #ff0000;
      padding: 60px 0;

      .heading-title {
        margin-top: 0;
        font-size: 26px;

        span {
          font-size: 18px;
          color: #fff;
        }
      }
    }

    &.dark-gray {
      color: #fff;
      background: #333333;
    }

    &.light-gray {
      background: #c8cbda;
    }

    .links {
      .link {
        &:nth-child(n + 2) {
          margin-top: 2em;
        }
      }

      .link-content-logo {
        margin-right: auto;
        margin-left: auto;

        img {
          width: 88px;
          height: auto;
          border-radius: 50%;
          margin: auto;
        }
      }
    }
  }

  .player {
    width: 90.625%;
    margin: 0 auto;
    padding: 22px 0 40px;
  }

  .player-title {
    align-items: center;
    font-size: 20px;
    line-height: 1.4;
    display: flex;

    &::before {
      content: '';
      background: url('../../../img/special/draft2025/icon2.png') left top
        no-repeat;
      background-size: 100%;
      height: 42.5px;
      margin: 10px 10px 0 0;
      width: 47px;
    }
  }

  .player-navi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 14px 0 0;

    &__item {
      margin: 0 0 12px 0;
      width: 30%;
    }

    &__link {
      align-items: center;
      background: #fff;
      font-size: 12px;
      letter-spacing: 1px;
      min-height: 36px;
      display: flex;
      justify-content: center;
      position: relative;
      padding-left: 10px;

      &::before,
      &::after {
        position: absolute;
        content: '';
        margin: auto;
      }

      &::before {
        background: #ccc;
        border-radius: 50%;
        bottom: 0;
        left: 12px;
        top: 0;
        vertical-align: middle;
        width: 17px;
        height: 17px;
      }

      &::after {
        top: 13px;
        left: 16px;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        border-radius: 2px;
        transform: rotate(135deg);
      }
    }
  }

  .player-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0;
    gap: 28px;

    .player-card {
      //      width: calc((100% - 28px)/2);
      width: 100%;

      &:nth-of-type(n + 2) {
        //        margin: 28px 0 0;
      }
    }
  }

  .player-card-image {
    width: 100%;
  }

  .player-card-copy {
    color: #999999;
    font-size: 10px;
    margin: 2px 0 0;
    text-align: right;
  }

  .player-card-name {
    font-size: 18px;
    margin: 8px 0 0;
  }

  .player-card-profile {
    margin: 5px 0 0;
  }

  .player-card-text {
    margin: 12px 0 0;
  }

  .program {
    width: 90.625%;
    margin: 0 auto;
    padding: 28px 0 54px;

    &.diary {
      position: relative;
      &::before {
        background-image: url(../../../img/special/draft2025/illust1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
        height: 135px;
        left: -36px;
        top: 38px;
        position: absolute;
        width: 164px;
      }
    }
  }

  .program-title {
    position: relative;
  }

  .program-head {
    display: flex;
  }

  .program-icon {
    margin-right: 10px;
    width: 60px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .program-title-text {
    font-size: 19px;
    line-height: 1.5;
  }

  .program-title-sub {
    color: #660000;
    font-size: 12px;
    font-weight: bold;
  }

  .program-title-small {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
  }

  .program-title-image {
    margin: 12px auto 0;
    width: 72%;
  }

  .program-content {
    margin: 10px 0 0;
  }

  .program-content-text {
    font-size: 12px;
    line-height: 2;
    margin: 10px 0 0;
  }

  .road_to_draft {
    .program-title-category {
      font-size: 12px;
    }

    .program-title-text {
      font-size: 34px;
      margin-top: 10px;

      img {
        display: inline;
        margin: 0 5px 5px 0;
        width: 50px;
      }

      &.diary {
        font-size: 28px;
        line-height: 1.1;
      }
    }

    .program-content {
      display: flex;
      margin-top: 30px;
    }

    .program-title-sub {
      color: #fff;
      font-size: 16px;
      font-weight: normal;
    }

    .program-title-small {
      margin-top: 34px;
      font-size: 15px;
      font-weight: normal;
      line-height: 1.5;
    }

    .program-content-visual {
      flex: 0 0 70px;

      img {
        width: auto;
      }
    }

    .writer-name {
      font-size: 18px;
      line-height: 1;
      font-weight: bold;

      span {
        font-size: 12px;
        font-weight: normal;
        display: block;
        margin: 5px 0 0;
      }
    }

    .program-content-detail {
      width: auto;
      margin: 0 0 0 15px;
    }

    .program-content-caption-text {
      font-size: 12px;
      margin-top: 20px;
    }

    .program-column {
      margin-top: 40px;
      a {
        color: #fff;
      }
    }

    .program-column-list {
      padding: 40px 0;
      border-top: 1px #fff solid;
      border-bottom: 1px #fff solid;

      & + li {
        border-top: 0;
        border-bottom: 1px #fff solid;
      }
    }

    .program-column-visual {
      position: relative;
      a {
        display: block;

        img {
          width: 100%;
        }
      }
      &-caption {
        display: block;
        margin-top: 0.5em;
      }
    }

    .program-column-number {
      background: #ff0000;
      color: #fff;
      font-size: 20px;
      font-style: italic;
      left: 0;
      padding: 10px 8px;
      position: absolute;
      top: 0;

      &.type2 {
        background: #ff6500;
      }
    }

    .program-column-detail {
      margin: 30px 0 0;
    }

    .program-column-title {
      display: flex;
      gap: 10px;
      //justify-content: space-between;
      flex-direction: column;

      dt {
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
      }

      dd {
        font-size: 14px;
        font-weight: normal;
      }
    }

    .program-column-text {
      font-size: 15px;
      line-height: 2;
      margin: 10px 0 20px;
    }

    .program-column-link {
      text-align: center;
      width: 80%;
      margin: 0 auto;

      a {
        position: relative;
        display: block;
        color: #fff;
        font-size: 14px;
        background: #000;
        padding: 20px 0;

        &::after {
          position: absolute;
          content: '';
          top: 50%;
          right: 1.5rem;
          width: 0.5rem;
          height: 0.5rem;
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }

  .content-text {
    font-size: 12px;
    line-height: 1.9;
  }

  .content-bottom {
    background: #dcd9dc;
    padding: calc(100 / 640 * 100vw) 20px calc(60 / 640 * 100vw);

    img {
      width: 100%;
    }
  }

  .m-sptvLink__title {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: calc(82 / 640 * 100vw);
    background: url(../../../img/sp/special/draft2025/sptv1.png) no-repeat;
    background-size: 100% auto;
    position: relative;
  }

  .banner-list {
    align-items: center;
    background: #fefefe;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 auto;
    padding: 30px 5px;

    li {
      display: flex;

      &:nth-of-type(odd) {
        justify-content: flex-end;
      }
    }
  }

  .draft-map {
    height: 0;
    margin: 30px 0 7px;
    padding: 81.375% 0 0;
    position: relative;
    width: 100%;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .article-column-list {
    align-items: flex-start;
    padding: 20px 0;

    &:nth-of-type(n + 2) {
      border-top: 1px solid #fff;
    }
  }

  .article-column-date {
    align-items: center;
    display: flex;
    font-size: 10px;

    &::before {
      content: '';
      background: url('../../../img/special/draft2025/icon1.png') left top
        no-repeat;
      background-size: 25px 25px;
      height: 25px;
      margin: 0 14px 0 0;
      width: 25px;
    }
  }

  .article-column-text {
    font-size: 16px;
    margin: 14px 0;
  }

  .article-column-link {
    text-align: center;
    width: 80%;
    margin: 0 auto;

    a {
      position: relative;
      display: block;
      color: #fff;
      font-size: 14px;
      background: #003333;
      padding: 20px 0;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 1.5rem;
        width: 0.5rem;
        height: 0.5rem;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  .index {
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 15px calc((100% - 90.625%) / 2) 25px;
  }

  .index-title {
    color: #999999;
    font-size: 14px;
  }

  .index-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 2px;
  }

  .index-list-link {
    color: #ccc;
    font-size: 12px;

    &::before {
      content: '▼';
      font-size: 10px;
      margin-right: 4px;
    }
  }

  .special-title {
    img {
      height: auto;
      margin: 0 auto 1em;
      width: 54.5%;
    }
  }

  .special-content,
  .special-image {
    flex: 1;
  }

  .special-image {
    max-width: 240px;
    margin: 0 auto 20px;
  }

  .special-lead {
    font-size: 12px;
    line-height: 1.8;
    margin: 15px 0 0;
  }
}
